/*
* Andris Jancevskis Site's custom CSS
* @author Andris Jancevskis
*
*/

/* --- Setting the scene --- */

*{
    font-family: Arial;
    letter-spacing: 0.1em;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/lp-background-2.gif');
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #121114;
}

p, h1, h2, h3, h4, h5, h6, a{
    color: #fafafa;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Exo", sans-serif;
}


/* --- Main part of this CSS --- */

#lp-desktop{
    padding-top: 0.8em;
}

#lp-desktop h1{
    font-weight: 900;
    font-size: 2.4em;
    letter-spacing: 0em;
    margin: 0;
}


#lp-desktop h3{
    font-weight: 300;
    font-size: 1.8em;
    letter-spacing: 0em;
    margin: 0;
}

#lp-desktop h4{
    font-weight: 300;
    font-size: 1.4em;
    letter-spacing: 0em;
    margin: 0;
}


#lp-desktop section{
    margin-top: 24px;
}

#lp-menu{
    padding-top: 0.6em;
    padding-right: 0.6em;
    text-align: center;
}

#lp-menu a{
    text-decoration: none;
    color: #fafafa;
}

#lp-aj-pic-div{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #ffffff;
    background-image: url('../images/andris-jancevskis.jpg'); 
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    margin-top: 20px;
    border: 1px;
}

.menu{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    padding: auto  0 0 0;
    text-align:center;

}

.menu a{
    text-decoration: none;
    background-color: #34281d; 
    width: 95%; 
    margin: 1px auto 1px auto; 
    padding: 0; 
    display: block;
    height: 100%;
}

.menu a:hover{
    background-color: rgba(120,120,120, 1);
}

.menu .menu-active{
    background-color: rgba(120,120,120, 0.75);
}

.mobile-footer-hr{
    width: 50%;
    color:#fafafa;
    margin: 0 auto 0 auto;
}

.skills-description{
    font-size: 0.8em;
}

/* --- general use styles --- */

.block{
    display: block;
}

.font-size-0-8{
    font-size: 0.8em;
}

.lp-skills-ring{
    width: 8em;
    height: 8em;
    border-radius: 50%;
    background-color: #fafafa;
    display: inline-block; 
    text-align: center;
}

.skills-inner-text{
    color: rgb(61, 54, 54);
    font-weight: 800;
    font-size: 1em;
    padding-top: 0.8em;
    letter-spacing: 0;
}

.skills-inner-text a{
    color: rgb(61, 54, 54);
    text-decoration: none;
}

.lp-tooltip {
    position: relative;
    display: inline-block;
  }
  
/* --- tooltip code taken from https://www.w3schools.com/css/css_tooltip.asp and adjusted my needs --- */

.lp-tooltip .lp-tooltip-text{
    visibility: hidden;
    width: 250px;
    background-color: #1e2a30 ;
    text-align: center;
    color: #fafafa;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    bottom: 100%;
    left: 15%;
    margin-left: 5px;
    font-size: 0.7em;
}

.lp-tooltip:hover .lp-tooltip-text {
    z-index: 4;
    visibility: visible;
}

.lp-skills-ring:hover {
    text-decoration: underline;
    transform: scale(1.25, 1.25);
    z-index: 2;
}

.lp-skills-midrow{
    height: 125px;
}

.skills-midrow-text{
    padding: 50px 0;
    margin: 0;
}

.expand-fully{
    width: 100%;
    height: 100%;
}

.no-padding-margin{
    padding: 0;
    margin: 0;
}

.no-padding {
    padding: 0;
}

.footer {      /* --- modified code from https://www.w3schools.com/howto/howto_css_fixed_footer.asp --- */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.social-icons{
    font-size: 2em;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 8px;
    margin-left: 14px;
}

.social-icons a{
    padding:0;
    margin:0;
}

.social-icons-circle{
    width:fit-content;
    border-color: #fafafa;
    margin-left:auto;
    margin-right: auto;
}

.mob-aj-picture{
    width: 230px;
    height: 240px;
    border-style: solid;
    border-radius: 0px;
    border-width: 0px;
    border-color: #fafafa;
}

.mob-skills-list{
    padding-left: 13px;
}

.mob-skills-list li{
    color:#fafafa;
    font-size: 0.8em;
}

@media screen and (min-width: 993px) { /* -- Desktop screen -- */
    #lp-mobile{
        display: none;
    }

    #header-buffer-row{
        height: 73px;
    }

}

@media screen and (max-width: 993px) { /* -- Mobile and Tablets screen -- */
    #lp-desktop{
        display: none;
    }
    body{
        background-image: none;
        background-color: #121114;
        /*
        Colors on background picture in lp-desktop
        brownish 34281d
        darker 1e2a30
        even darker 121114
        */
    }

    #lp-mobile{
        display: initial;
    }

    #header-buffer-row{
            height: 49px;
    }

}


@media screen and (max-width: 600px) { /* -- Mobile screen -- */

    .menu a{
        width: 100%;
    }

    #img-wrapper{
        width: 100%;
        text-align: center;
    }

}

/* -- Fine-tunings -- */

@media screen and (max-width: 691px) { /* -- Motto goes to two lines -- */
    #header-buffer-row{
        height: 25px;
    }
}
