/*
* Andris Jancevskis Site's custom CSS
* @author Andris Jancevskis
*
*/

/* --- Setting the scene --- */

*{
    font-family: Arial;
    letter-spacing: 0.1em;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/lp-background-2.gif');
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    background-color: #121114;
}

p, h1, h2, h3, h4, h5, h6, a{
    color: #fafafa;
}

h1, h2, h3, h4, h5, h6{
    font-family: sans-serif;
}

section{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

/* --- Main part of this CSS --- */

#lp-desktop{
    padding-top: 0.8em;
}

#lp-desktop h1{
    font-weight: 700;
    font-size: 2.4em;
    letter-spacing: 0em;
    margin: 0;
}


#lp-desktop h3{
    font-weight: 300;
    font-size: 1.8em;
    letter-spacing: 0em;
    margin: 0;
}

.motto{
    font-family: sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 0.07rem;
    margin: 0;
}

#lp-desktop section{
    margin-top: 24px;
}

#lp-menu{
    padding-top: 0.6em;
    padding-right: 0.6em;
    text-align: center;
}

#lp-menu a{
    text-decoration: none;
    color: #fafafa;
}

#lp-menu a:hover{
    text-decoration: underline;
}

#lp-short-intro{
    width: 80%;
}

#lp-short-intro p{
    padding-top: 10px
}

#lp-aj-pic-div{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #ffffff;
    background-image: url('../images/andris-jancevskis.webp'); 
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    margin-top: 20px;
    border: 1px;
}


/*--- menu bar ---*/

.menu{
    margin: 5px auto 0 auto;
    text-align:center;
    width: 80%;
    position:relative;

}

.menu a{
    text-decoration: none;
    background-color: #34281d; 
    width: 95%; 
    margin: 1px auto 1px auto; 
    padding: 0; 
    display: block;
    height: 100%;
}

.menu a:hover{
    background-color: rgba(120,120,120, 1);
}

.menu .menu-active{
    background-color: rgba(120,120,120, 0.75);
}

/*--- footer ---*/

.mobile-footer-hr{
    width: 50%;
    color:#fafafa;
    margin: 0 auto 0 auto;
}

.footer-hr{
    width: 25%;
    color:#fafafa;
    margin: 0 auto 0 auto;
}

/* --- general use styles --- */

.block{
    display: block;
}

.font-size-0-8{
    font-size: 0.8em;
}

.skills-description{
    font-size: 0.8em;
}

.lp-skills-ring{
    width: 8em;
    height: 8em;
    border-radius: 50%;
    background-color: #fafafa;
    display: inline-block; 
    text-align: center;
}

.skills-inner-text{
    color: rgb(61, 54, 54);
    font-weight: 800;
    font-size: 1em;
    padding-top: 0.8em;
    letter-spacing: 0;
}

#sw-circle-text{
    font-size: 0.95em;
}

.skills-inner-text a{
    color: rgb(61, 54, 54);
    text-decoration: none;
}

.lp-tooltip {
    position: relative;
    display: inline-block;
  }
  
/* --- tooltip code taken from https://www.w3schools.com/css/css_tooltip.asp and adjusted my needs --- */

.lp-tooltip .lp-tooltip-text{
    visibility: hidden;
    width: 250px;
    background-color: #1e2a30 ;
    text-align: center;
    color: #fafafa;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    bottom: 100%;
    left: 15%;
    margin-left: 5px;
    font-size: 0.7em;
}

.lp-tooltip:hover .lp-tooltip-text {
    z-index: 4;
    visibility: visible;
}

.lp-skills-ring:hover {
    text-decoration: underline;
    transform: scale(1.25, 1.25);
    z-index: 2;
}

.lp-skills-midrow{
    height: 125px;
}

.skills-midrow-text{
    padding: 50px 0;
    margin: 0;
}

.expand-fully{
    width: 100%;
    height: 100%;
}

.no-padding-margin{
    padding: 0;
    margin: 0;
}

.no-padding {
    padding: 0;
}

.footer {      /* --- modified code from https://www.w3schools.com/howto/howto_css_fixed_footer.asp --- */
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

#cv-download, #cv-download-f{
    width: 14px;
    height: 14px;
    margin: 0 0 5px 0;
}

.social-icons{
    font-size: 2em;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 8px;
    margin-left: 14px;
}

.social-icons img{
    width: 35px;
    height: 35px;
    margin: 3px 0 5px 0;
}

.social-icons a{
    padding:0;
    margin:0;
}

.social-icons-circle{
    width:fit-content;
    border-color: #fafafa;
    margin-left:auto;
    margin-right: auto;
}

.mob-aj-picture{
    width: 230px;
    height: 240px;
    border-style: solid;
    border-radius: 0px;
    border-width: 5px;
    border-color: transparent;
}

.mob-skills-list{
    padding-left: 13px;
}

.mob-skills-list li{
    color:#fafafa;
    font-size: 0.8em;
}

.stock-image{
    height: 250px;
    width: 100%;
    margin-top: 15px;
}

.stock-image img{
    width: 100%;
    height: 100%;
    resize:horizontal;
}


/*--- main content frame ---*/

.main-content{
    width: 90%;
    margin: 20px auto 0 auto;
    background-color:rgba(30, 42, 48, 0.75);
}

.main-content h2{
    font-weight: initial;
    text-align: center;
    font-family: Arial;
}

.main-content-text-cell{
    color:#fafafa;
    text-align: justify;
    padding-right: 15px;
    padding-left: 15px;
}

.main-content-text-cell h3{
    font-weight: initial;
    text-align: center;
    font-family: Arial;
    padding-top: 10px;
}

/* --- Skills progresbars -----*/

.progress-bar-outer{
    border-radius: 6px;
    border-color: darkgray;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin-bottom: 5px;
}

.progress-bar-inner{
    height: 20px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.progress-bar-inner span{
    color:black;
    font-weight: 700;
}

.progress-bar-inner p{
    color:black;
    font-weight: 700;
}

/*--- Experience page ---*/

.exp-legend{
    margin: 0;
    padding: 0;
    width: 300px;

}

.leg-bar{
    width: 150px;
    height: 20px;
}

.color-for-work{
    background-color: sandybrown;
}

.color-for-education{
    background-color: tomato;
}

.experience-container{
    margin: 0 auto 0 auto;
    padding: 0;
    width: 80%;
}

.experience-container p{
    text-align: left;
}

.exp-work{
    margin-top: 15px;
    padding-bottom: 5px;
}

.exp-years{
    color:#121114;
    font-weight: 600;
    margin: 0 0 0 5px;
}

.exp-where{
    color:#121114;
    font-weight: 900;
    margin: 0 0 0 5px;

}

.exp-work ul{
    text-align: left;
    margin:0;
}
.exp-work li{
    position: relative;
    left: -15px;
}

.exp-education{
    margin: 5px 5px 0 30px;
    border: 1px solid;
}

.exp-edu-provider{
    margin: 0 0 0 5px;
    color: #121114;
}

.exp-edu-result{
    margin: 0 0 0 5px;
    color: #121114;
    font-style: italic;
    font-weight: 700;
}

.work-fake-div{
    margin: 0;
    padding: 0;
    height: 1px;
    background-color: transparent;
}

/*--- Contact form ---*/

.contact-form{
    color:#fafafa;
    width: 60%;
    margin: 0 auto 0 auto;
    padding: 0;
}

.contact-form input{
    border: 1px solid;
    border-radius: 2px;
    background-color:#fafafa;
    width: 100%;
    margin-bottom: 5px;
}

.contact-form textarea{
    width: 100%;
}

.contact-form label{
    font-weight: bold;
}

.contact-form button{
    display: block;
    margin: 0 auto 15px auto;
    font-weight: bold;
    color:#121114;
    border-color:#121114;
    width: 100px;
    height: 50px;
    border-radius: 3px;
    background-color: grey;
}

.contact-form button:hover{
    color:#fafafa;
    background-color: green;
}


@media screen and (min-width: 993px) { /* -- Desktop screen -- */
    #lp-mobile{
        display: none;
    }

    #header-buffer-row{
        height: 73px;
    }


    .menu{
        margin-top: 10px; 
        width: 100%;
    }

    .main-content{
        width: 95%;
    }

}

@media screen and (max-width: 992px) { /* -- Less than Desktop -- */
    #lp-desktop{
        display: none;
    }
    body{
        background-image: none;
        background-color: #121114;
    }

    #lp-mobile{
        display: initial;
    }

    #header-buffer-row{
            height: 49px;
    }

    .main-content{
        width: 98%;
    }

    .experience-container{
        width: 90%;
    }

    .contact-form{
        width: 80%;
    }
    
}


@media screen and (max-width: 600px) { /* -- Mobile screen -- */

    .menu a{
        width: 100%;
    }

    #img-wrapper{
        width: 100%;
        text-align: center;
    }

    .experience-container{
        width: 98%;
    }

    .contact-form{
        width: 98%;
    }

    .stock-image{
        height: 150px;
    }
    
}


/* -- Fine-tunings -- */

@media screen and (max-width: 715px) { /* -- Motto and header should go to two lines -- */
    .motto,
    header.h3{
        width: 80%;
        margin: 0 auto 0 auto;
    }
}
